<!DOCTYPE html>

<html class="no-js" lang="en">

<head>
	<!-- META DATA -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!--font-family-->
	<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet" />

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet" />

	<!-- TITLE OF SITE -->
	<title>TS&B Holidays</title>

	<!-- favicon img -->
	<link rel="shortcut icon" type="image/icon" href="/logo/2.jpg" />

	<!--font-awesome.min.css-->
	<link rel="stylesheet" href="/css/font-awesome.min.css" />

	<!--animate.css-->
	<link rel="stylesheet" href="/css/animate.css" />

	<!--hover.css-->
	<link rel="stylesheet" href="/css/hover-min.css">

	<!--datepicker.css-->
	<link rel="stylesheet" href="/css/datepicker.css">

	<!--owl.carousel.css-->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css" />

	<!-- range css-->
	<link rel="stylesheet" href="/css/jquery-ui.min.css" />

	<!--bootstrap.min.css-->
	<link rel="stylesheet" href="/css/bootstrap.min.css" />

	<!-- bootsnav -->
	<link rel="stylesheet" href="/css/bootsnav.css" />

	<!--style.css-->
	<link rel="stylesheet" text='css' href="/css/style.css" />

	<!--responsive.css-->
	<link rel="stylesheet" href="/css/responsive.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<!--[if lte IE 9]>
		
		<!-- main-menu Start -->
	<header class="top-area">
		<div class="header-area">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="logo">
							<a href="index.ejs">
								TSB<span>Holidays</span>
							</a>
						</div><!-- /.logo-->
					</div><!-- /.col-->
					<div class="col-sm-10">
						<div class="main-menu">

							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<i class="fa fa-bars"></i>
								</button><!-- / button-->
							</div><!-- /.navbar-header-->
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav navbar-right">
									<li class="smooth-menu"><a href="#home">Home</a></li>
									<li class="smooth-menu"><a href="#gallery">Destination</a></li>
									<li class="smooth-menu"><a href="#pack">Packages </a></li>
									<li class="smooth-menu"><a href="#spo">Special Offers</a></li>
									<li class="smooth-menu"><a href="#blog">Blog</a></li>
									<li class="smooth-menu"><a href="#subs">subscription</a></li>
									<li>
										<a href="/signup" class="book-btn">SIGN UP
										</a>
									</li>
									<!--/.project-btn-->
								</ul>
							</div><!-- /.navbar-collapse -->
						</div><!-- /.main-menu-->
					</div><!-- /.col-->
				</div><!-- /.row -->
				<div class="home-border"></div><!-- /.home-border-->
			</div><!-- /.container-->
		</div><!-- /.header-area -->

	</header><!-- /.top-area-->
	<!-- main-menu End -->


	<!--about-us start -->
	<section id="home" class="about-us">
		<div class="container">
			<div class="about-us-content">
				<div class="row">
					<div class="col-sm-12">
						<div class="single-about-us">
							<div class="about-us-txt">
								<h2>
									Explore the Beauty of the Beautiful World

								</h2>
								<div class="about-btn">
									<button class="about-view">
										Explore now
									</button>
								</div>
								<!--/.about-btn-->
							</div>
							<!--/.about-us-txt-->
						</div>
						<!--/.single-about-us-->
					</div>
					<!--/.col-->
					<div class="col-sm-0">
						<div class="single-about-us">

						</div>
						<!--/.single-about-us-->
					</div>
					<!--/.col-->
				</div>
				<!--/.row-->
			</div>
			<!--/.about-us-content-->
		</div>
		<!--/.container-->

	</section>
	<!--/.about-us-->
	<!--about-us end -->

	<!--travel-box start-->
	<section class="travel-box">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="single-travel-boxes">
						<div id="desc-tabs" class="desc-tabs">

							<ul class="nav nav-tabs" role="tablist">

								<li role="presentation" class="active">
									<a href="#tours" aria-controls="tours" role="tab" data-toggle="tab">
										<i class="fa fa-tree"></i>
										Tours
									</a>
								</li>

								<li role="presentation">
									<a href="#hotels" aria-controls="hotels" role="tab" data-toggle="tab">
										<i class="fa fa-building"></i>
										Hotels
									</a>
								</li>

								<li role="presentation">
									<a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">
										<i class="fa fa-plane"></i>
										Flights
									</a>
								</li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">

								<div role="tabpanel" class="tab-pane active fade in" id="tours">
									<div class="tab-para">

										<div class="row">
											<div class="col-lg-4 col-md-4 col-sm-12">
												<div class="single-tab-select-box">

													<h2>Destination</h2>

													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">Enter your destination country</option><!-- /.option-->

															<option value="turkey">Turkey</option><!-- /.option-->

															<option value="russia">Russia</option><!-- /.option-->
															<option value="egept">Egypt</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->

													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">Enter your destination location</option><!-- /.option-->

															<option value="istambul">Istambul</option><!-- /.option-->

															<option value="mosko">Mosscow</option><!-- /.option-->
															<option value="cairo">Cairo</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->

												</div>
												<!--/.single-tab-select-box-->
											</div>
											<!--/.col-->

											<div class="col-lg-2 col-md-3 col-sm-4">
												<div class="single-tab-select-box">
													<h2>Check in</h2>
													<div class="travel-check-icon">
														<form action="#">
															<input type="text" name="check_in" class="form-control" data-toggle="datepicker" placeholder="12 -01 - 2017 ">
														</form>
													</div><!-- /.travel-check-icon -->
												</div>
												<!--/.single-tab-select-box-->
											</div>
											<!--/.col-->

											<div class="col-lg-2 col-md-3 col-sm-4">
												<div class="single-tab-select-box">
													<h2>Check out</h2>
													<div class="travel-check-icon">
														<form action="#">
															<input type="text" name="check_out" class="form-control" data-toggle="datepicker" placeholder="22 -01 - 2017 ">
														</form>
													</div><!-- /.travel-check-icon -->
												</div>
												<!--/.single-tab-select-box-->
											</div>
											<!--/.col-->

											<div class="col-lg-2 col-md-1 col-sm-4">
												<div class="single-tab-select-box">
													<h2>Duration</h2>
													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">5</option><!-- /.option-->

															<option value="10">7</option><!-- /.option-->

															<option value="15">8</option><!-- /.option-->
															<option value="20">9</option><!-- /.option-->
															<option value="20">10</option><!-- /.option-->
															<option value="20">15</option><!-- /.option-->



														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->
												</div>
												<!--/.single-tab-select-box-->
											</div>
											<!--/.col-->

											<div class="col-lg-2 col-md-1 col-sm-4">
												<div class="single-tab-select-box">
													<h2>Members</h2>
													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">2</option><!-- /.option-->

															<option value="2">3</option><!-- /.option-->
															<option value="2">4</option><!-- /.option-->
															<option value="4">5</option><!-- /.option-->
															<option value="8">6</option><!-- /.option-->
															<option value="2">7</option><!-- /.option-->
															<option value="2">9</option><!-- /.option-->
														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->
												</div>
												<!--/.single-tab-select-box-->
											</div>
											<!--/.col-->

										</div>
										<!--/.row-->

										<div class="row">
											<div class="col-sm-5">
												<div class="travel-budget">
													<div class="row">
														<div class="col-md-3 col-sm-4">
															<h3>Budget : </h3>
														</div>
														<!--/.col-->
														<div class="co-md-9 col-sm-8">
															<div class="travel-filter">
																<div class="info_widget">
																	<div class="price_filter">

																		<div id="slider-range"></div>
																		<!--/.slider-range-->

																		<div class="price_slider_amount">
																			<input type="text" id="amount" name="price" placeholder="Add Your Price" />
																		</div>
																		<!--/.price_slider_amount-->
																	</div>
																	<!--/.price-filter-->
																</div>
																<!--/.info_widget-->
															</div>
															<!--/.travel-filter-->
														</div>
														<!--/.col-->
													</div>
													<!--/.row-->
												</div>
												<!--/.travel-budget-->
											</div>
											<!--/.col-->
											<div class="clo-sm-7">
												<div class="about-btn travel-mrt-0 pull-right">
													<button class="about-view travel-btn">
														Search
													</button>
													<!--/.travel-btn-->
												</div>
												<!--/.about-btn-->
											</div>
											<!--/.col-->

										</div>
										<!--/.row-->

									</div>
									<!--/.tab-para-->

								</div>
								<!--/.tabpannel-->

								<div role="tabpanel" class="tab-pane fade in" id="hotels">
									<div class="tab-para">

										<div class="row">
											<div class="col-lg-4 col-md-4 col-sm-12">
												<div class="single-tab-select-box">

													<h2>Destination</h2>

													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">Enter your destination country</option><!-- /.option-->

															<option value="turkey">Turkey</option><!-- /.option-->

															<option value="russia">Russia</option><!-- /.option-->
															<option value="egept">New Zealand</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->

													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">Enter your destination location</option><!-- /.option-->

															<option value="istambul">Istambul</option><!-- /.option-->

															<option value="mosko">USA</option><!-- /.option-->
															<option value="cairo">Dubai</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->

												</div>
												<!--/.single-tab-select-box-->
											</div>
											<!--/.col-->

											<div class="col-lg-2 col-md-3 col-sm-4">
												<div class="single-tab-select-box">
													<h2>check in</h2>
													<div class="travel-check-icon">
														<form action="#">
															<input type="text" name="check_in" class="form-control" data-toggle="datepicker" placeholder="12 -01 - 2017 ">
														</form>
													</div><!-- /.travel-check-icon -->
												</div>
												<!--/.single-tab-select-box-->
											</div>
											<!--/.col-->

											<div class="col-lg-2 col-md-3 col-sm-4">
												<div class="single-tab-select-box">
													<h2>Check out</h2>
													<div class="travel-check-icon">
														<form action="#">
															<input type="text" name="check_out" class="form-control" data-toggle="datepicker" placeholder="22 -01 - 2017 ">
														</form>
													</div><!-- /.travel-check-icon -->
												</div>
												<!--/.single-tab-select-box-->
											</div>
											<!--/.col-->

											<div class="col-lg-2 col-md-1 col-sm-4">
												<div class="single-tab-select-box">
													<h2>Duration</h2>
													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">5</option><!-- /.option-->

															<option value="10">10</option><!-- /.option-->

															<option value="15">15</option><!-- /.option-->
															<option value="20">20</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->
												</div>
												<!--/.single-tab-select-box-->
											</div>
											<!--/.col-->

											<div class="col-lg-2 col-md-1 col-sm-4">
												<div class="single-tab-select-box">
													<h2>Members</h2>
													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">1</option><!-- /.option-->

															<option value="2">2</option><!-- /.option-->

															<option value="4">4</option><!-- /.option-->
															<option value="8">8</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->
												</div>
												<!--/.single-tab-select-box-->
											</div>
											<!--/.col-->

										</div>
										<!--/.row-->

										<div class="row">
											<div class="col-sm-5"></div>
											<!--/.col-->
											<div class="clo-sm-7">
												<div class="about-btn travel-mrt-0 pull-right">
													<button class="about-view travel-btn">
														Search
													</button>
													<!--/.travel-btn-->
												</div>
												<!--/.about-btn-->
											</div>
											<!--/.col-->

										</div>
										<!--/.row-->

									</div>
									<!--/.tab-para-->

								</div>
								<!--/.tabpannel-->

								<div role="tabpanel" class="tab-pane fade in" id="flights">
									<div class="tab-para">
										<div class="trip-circle">
											<div class="single-trip-circle">
												<input type="radio" id="radio01" name="radio" />
												<label for="radio01">
													<span class="round-boarder">
														<span class="round-boarder1"></span>
													</span>Round trip
												</label>
											</div>
											<!--/.single-trip-circle-->
											<div class="single-trip-circle">
												<input type="radio" id="radio02" name="radio" />
												<label for="radio02">
													<span class="round-boarder">
														<span class="round-boarder1"></span>
													</span>On Way
												</label>
											</div>
											<!--/.single-trip-circle-->
										</div>
										<!--/.trip-circle-->
										<div class="row">
											<div class="col-lg-4 col-md-4 col-sm-12">
												<div class="single-tab-select-box">

													<h2>From</h2>

													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">Enter your location</option><!-- /.option-->

															<option value="turkey">Turkey</option><!-- /.option-->

															<option value="russia">Russia</option><!-- /.option-->
															<option value="egept">Egypt</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->
												</div>
												<!--/.single-tab-select-box-->
											</div>
											<!--/.col-->

											<div class="col-lg-2 col-md-3 col-sm-4">
												<div class="single-tab-select-box">
													<h2>Departure</h2>
													<div class="travel-check-icon">
														<form action="#">
															<input type="text" name="departure" class="form-control" data-toggle="datepicker" placeholder="12 -01 - 2017 ">
														</form>
													</div><!-- /.travel-check-icon -->
												</div>
												<!--/.single-tab-select-box-->
											</div>
											<!--/.col-->

											<div class="col-lg-2 col-md-3 col-sm-4">
												<div class="single-tab-select-box">
													<h2>Return</h2>
													<div class="travel-check-icon">
														<form action="#">
															<input type="text" name="return" class="form-control" data-toggle="datepicker" placeholder="22 -01 - 2017 ">
														</form>
													</div><!-- /.travel-check-icon -->
												</div>
												<!--/.single-tab-select-box-->
											</div>
											<!--/.col-->

											<div class="col-lg-2 col-md-1 col-sm-4">
												<div class="single-tab-select-box">
													<h2>Adults</h2>
													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">5</option><!-- /.option-->

															<option value="10">10</option><!-- /.option-->

															<option value="15">15</option><!-- /.option-->
															<option value="20">20</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->
												</div>
												<!--/.single-tab-select-box-->
											</div>
											<!--/.col-->

											<div class="col-lg-2 col-md-1 col-sm-4">
												<div class="single-tab-select-box">
													<h2>Childs</h2>
													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">1</option><!-- /.option-->

															<option value="2">2</option><!-- /.option-->

															<option value="4">4</option><!-- /.option-->
															<option value="8">8</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->
												</div>
												<!--/.single-tab-select-box-->
											</div>
											<!--/.col-->

										</div>
										<!--/.row-->

										<div class="row">
											<div class="col-lg-4 col-md-4 col-sm-12">
												<div class="single-tab-select-box">

													<h2>To</h2>

													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">Enter your destination location</option><!-- /.option-->

															<option value="istambul">Istambul</option><!-- /.option-->

															<option value="mosko">Mosscow</option><!-- /.option-->
															<option value="cairo">Chicago</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->

												</div>
												<!--/.single-tab-select-box-->
											</div>
											<!--/.col-->
											<div class="col-lg-3 col-md-3 col-sm-4">
												<div class="single-tab-select-box">

													<h2>class</h2>
													<div class="travel-select-icon">
														<select class="form-control ">

															<option value="default">Enter class</option><!-- /.option-->

															<option value="A">A</option><!-- /.option-->

															<option value="B">B</option><!-- /.option-->
															<option value="C">C</option><!-- /.option-->

														</select><!-- /.select-->
													</div><!-- /.travel-select-icon -->
												</div>
												<!--/.single-tab-select-box-->
											</div>
											<!--/.col-->
											<div class="clo-sm-5">
												<div class="about-btn pull-right">
													<button class="about-view travel-btn">
														Search
													</button>
													<!--/.travel-btn-->
												</div>
												<!--/.about-btn-->
											</div>
											<!--/.col-->

										</div>
										<!--/.row-->

									</div>

								</div>
								<!--/.tabpannel-->

							</div>
							<!--/.tab content-->
						</div>
						<!--/.desc-tabs-->
					</div>
					<!--/.single-travel-box-->
				</div>
				<!--/.col-->
			</div>
			<!--/.row-->
		</div>
		<!--/.container-->

	</section>
	<!--/.travel-box-->
	<!--travel-box end-->

	<!--service start-->
	<section id="service" class="service">
		<div class="container">

			<div class="service-counter text-center">

				<div class="col-md-4 col-sm-4">
					<div class="single-service-box">
						<div class="service-img">
							<img src="/images/service/s1.png" alt="service-icon" />
						</div>
						<!--/.service-img-->
						<div class="service-content">
							<h2>
								<a href="#">
									Amazing Tour Packages
								</a>
							</h2>
							<p>Explore the world with us.</p>
						</div>
						<!--/.service-content-->
					</div>
					<!--/.single-service-box-->
				</div>
				<!--/.col-->

				<div class="col-md-4 col-sm-4">
					<div class="single-service-box">
						<div class="service-img">
							<img src="/images/service/s2.png" alt="service-icon" />
						</div>
						<!--/.service-img-->
						<div class="service-content">
							<h2>
								<a href="#">
									Book top class hotel
								</a>
							</h2>
							<p>Get the Best Deals on hotels.</p>
						</div>
						<!--/.service-content-->
					</div>
					<!--/.single-service-box-->
				</div>
				<!--/.col-->

				<div class="col-md-4 col-sm-4">
					<div class="single-service-box">
						<div class="statistics-img">
							<img src="/images/service/s3.png" alt="service-icon" />
						</div>
						<!--/.service-img-->
						<div class="service-content">

							<h2>
								<a href="#">
									Online flight booking
								</a>
							</h2>
							<p>Get the Cheapest Flight Rate from us</p>
						</div>
						<!--/.service-content-->
					</div>
					<!--/.single-service-box-->
				</div>
				<!--/.col-->

			</div>
			<!--/.statistics-counter-->
		</div>
		<!--/.container-->

	</section>
	<!--/.service-->
	<!--service end-->

	<!--galley start-->
	<section id="gallery" class="gallery">
		<div class="container">
			<div class="gallery-details">
				<div class="gallary-header text-center">
					<h2>
						Top destination
					</h2>
					<div class="line-space">

					</div>
					<p>
						These are the best holidays available with us
					</p>
				</div>
				<!--/.gallery-header-->
				<div class="gallery-box">
					<div class="gallery-content">
						<div class="filtr-container">
							<div class="row">

								<div class="col-md-6">
									<div class="filtr-item">
										<img src="/images/gallery/img1.jpeg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												China
											</a>
											<p><span>20 tours</span><span>15 places</span></p>
										</div><!-- /.item-title -->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

								<div class="col-md-6">
									<div class="filtr-item">
										<img src="/images/gallery/img2.jpeg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												Prague
											</a>
											<p><span>12 tours</span><span>9 places</span></p>
										</div> <!-- /.item-title-->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

								<div class="col-md-4">
									<div class="filtr-item">
										<img src="/images/gallery/img3.jpeg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												Brazil
											</a>
											<p><span>25 tours</span><span>10 places</span></p>
										</div><!-- /.item-title -->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

								<div class="col-md-4">
									<div class="filtr-item">
										<img src="/images/gallery/img4.jpeg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												Australia
											</a>
											<p><span>18 tours</span><span>9 places</span></p>
										</div> <!-- /.item-title-->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

								<div class="col-md-4">
									<div class="filtr-item">
										<img src="/images/gallery/img5.jpeg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												Netherland
											</a>
											<p><span>14 tours</span><span>12 places</span></p>
										</div> <!-- /.item-title-->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

								<div class="col-md-8">
									<div class="filtr-item">
										<img src="/images/gallery/img6.jpeg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												Turkey
											</a>
											<p><span>14 tours</span><span>6 places</span></p>
										</div> <!-- /.item-title-->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

							</div><!-- /.row -->

						</div><!-- /.filtr-container-->
					</div><!-- /.gallery-content -->
				</div>
				<!--/.galley-box-->
			</div>
			<!--/.gallery-details-->
		</div>
		<!--/.container-->

	</section>
	<!--/.gallery-->
	<!--gallery end-->


	<!--discount-offer start-->
	<section class="discount-offer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="dicount-offer-content text-center">
						<h2>Join with us within 6 August, 2018 and get upto 45% Discount</h2>

						<div class="campaign-timer">
							<div id="timer">
								<div class="time time-after" id="days">
									<span></span>
								</div>
								<!--/.time-->
								<div class="time time-after" id="hours">

								</div>
								<!--/.time-->
								<div class="time time-after" id="minutes">

								</div>
								<!--/.time-->
								<div class="time" id="seconds">

								</div>
								<!--/.time-->
							</div>
							<!--/.timer-->
						</div>
						<!--/.campaign-timer-->
						<div class="about-btn">
							<form action="/join" method="post">
								<input type="submit" value="Join Now">
							</form>

						</div>
						<!--/.about-btn-->


					</div><!-- /.dicount-offer-content-->
				</div><!-- /.col-->
			</div><!-- /.row-->
		</div><!-- /.container-->

	</section><!-- /.discount-offer-->
	<!--discount-offer end-->

	<!--packages start-->
	<section id="pack" class="packages">
		<div class="container">
			<div class="gallary-header text-center">
				<h2>
					Special packages
				</h2>

				<div class="line-space">

				</div>
				<p>
					Best Package Available with us
				</p>
			</div>
			<!--/.gallery-header-->
			<div class="packages-content">
				<div class="row">

					<div class="col-md-4 col-sm-6">
						<div class="single-package-item">
							<img src="/images/packages/p1.jpg" alt="package-place">
							<div class="single-package-item-txt">
								<h3>Italy <span class="pull-right">$999</span></h3>
								<div class="packages-para">
									<p>
										<span>
											<i class="fa fa-angle-right"></i> 5 days 6 nights
										</span>
										<i class="fa fa-angle-right"></i> 5 star accomodation
									</p>
									<p>
										<span>
											<i class="fa fa-angle-right"></i> Transportation
										</span>
										<i class="fa fa-angle-right"></i> Food facilities
									</p>
								</div>
								<!--/.packages-para-->
								<div class="packages-review">
									<p>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<span>2544 review</span>
									</p>
								</div>
								<!--/.packages-review-->
								<div class="about-btn">
									<form action="/pay" method="post">
										<input type="submit" value="Book Now">
									</form>

								</div>
								<!--/.about-btn-->
							</div>
							<!--/.single-package-item-txt-->
						</div>
						<!--/.single-package-item-->

					</div>
					<!--/.col-->

					<div class="col-md-4 col-sm-6">
						<div class="single-package-item">
							<img src="/images/packages/p2.jpg" alt="package-place">
							<div class="single-package-item-txt">
								<h3>England <span class="pull-right">$1999,</span></h3>
								<div class="packages-para">
									<p>
										<span>
											<i class="fa fa-angle-right"></i> 5 days 6 nights
										</span>
										<i class="fa fa-angle-right"></i> 5 star accomodation
									</p>
									<p>
										<span>
											<i class="fa fa-angle-right"></i> Transportation
										</span>
										<i class="fa fa-angle-right"></i> Food facilities
									</p>
								</div>
								<!--/.packages-para-->
								<div class="packages-review">
									<p>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<span>2544 review</span>
									</p>
								</div>
								<!--/.packages-review-->
								<div class="about-btn">
									<button class="about-view packages-btn">
										Book now
									</button>
								</div>
								<!--/.about-btn-->
							</div>
							<!--/.single-package-item-txt-->
						</div>
						<!--/.single-package-item-->

					</div>
					<!--/.col-->

					<div class="col-md-4 col-sm-6">
						<div class="single-package-item">
							<img src="/images/packages/p3.jpg" alt="package-place">
							<div class="single-package-item-txt">
								<h3>France <span class="pull-right">1,19,999</span></h3>
								<div class="packages-para">
									<p>
										<span>
											<i class="fa fa-angle-right"></i> 5 days 6 nights
										</span>
										<i class="fa fa-angle-right"></i> 5 star accomodation
									</p>
									<p>
										<span>
											<i class="fa fa-angle-right"></i> Transportation
										</span>
										<i class="fa fa-angle-right"></i> Food facilities
									</p>
								</div>
								<!--/.packages-para-->
								<div class="packages-review">
									<p>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<span>2544 review</span>
									</p>
								</div>
								<!--/.packages-review-->
								<div class="about-btn">
									<button class="about-view packages-btn">
										Book now
									</button>
								</div>
								<!--/.about-btn-->
							</div>
							<!--/.single-package-item-txt-->
						</div>
						<!--/.single-package-item-->

					</div>
					<!--/.col-->

					<div class="col-md-4 col-sm-6">
						<div class="single-package-item">
							<img src="/images/packages/p4.jpg" alt="package-place">
							<div class="single-package-item-txt">
								<h3>India <span class="pull-right">79,999</span></h3>
								<div class="packages-para">
									<p>
										<span>
											<i class="fa fa-angle-right"></i> 5 days 6 nights
										</span>
										<i class="fa fa-angle-right"></i> 5 star accomodation
									</p>
									<p>
										<span>
											<i class="fa fa-angle-right"></i> Transportation
										</span>
										<i class="fa fa-angle-right"></i> Food facilities
									</p>
								</div>
								<!--/.packages-para-->
								<div class="packages-review">
									<p>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<span>2544 review</span>
									</p>
								</div>
								<!--/.packages-review-->
								<div class="about-btn">
									<button class="about-view packages-btn">
										Book now
									</button>
								</div>
								<!--/.about-btn-->
							</div>
							<!--/.single-package-item-txt-->
						</div>
						<!--/.single-package-item-->

					</div>
					<!--/.col-->

					<div class="col-md-4 col-sm-6">
						<div class="single-package-item">
							<img src="/images/packages/p5.jpg" alt="package-place">
							<div class="single-package-item-txt">
								<h3>Spain <span class="pull-right">2,99,999</span></h3>
								<div class="packages-para">
									<p>
										<span>
											<i class="fa fa-angle-right"></i> 15 days 16 nights
										</span>
										<i class="fa fa-angle-right"></i> 5 star accomodation
									</p>
									<p>
										<span>
											<i class="fa fa-angle-right"></i> Transportation
										</span>
										<i class="fa fa-angle-right"></i> Food Facilities
									</p>
								</div>
								<!--/.packages-para-->
								<div class="packages-review">
									<p>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<span>2544 review</span>
									</p>
								</div>
								<!--/.packages-review-->
								<div class="about-btn">
									<button class="about-view packages-btn">
										Book now
									</button>
								</div>
								<!--/.about-btn-->
							</div>
							<!--/.single-package-item-txt-->
						</div>
						<!--/.single-package-item-->

					</div>
					<!--/.col-->

					<div class="col-md-4 col-sm-6">
						<div class="single-package-item">
							<img src="/images/packages/p6.jpg" alt="package-place">
							<div class="single-package-item-txt">
								<h3>Thailand <span class="pull-right">79,999</span></h3>
								<div class="packages-para">
									<p>
										<span>
											<i class="fa fa-angle-right"></i> 7 days 6 nights
										</span>
										<i class="fa fa-angle-right"></i> 5 star accomodation
									</p>
									<p>
										<span>
											<i class="fa fa-angle-right"></i> Transportation
										</span>
										<i class="fa fa-angle-right"></i> Food Facilities
									</p>
								</div>
								<!--/.packages-para-->
								<div class="packages-review">
									<p>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<span>2544 review</span>
									</p>
								</div>
								<!--/.packages-review-->
								<div class="about-btn">
									<button class="about-view packages-btn">
										Book now
									</button>
								</div>
								<!--/.about-btn-->
							</div>
							<!--/.single-package-item-txt-->
						</div>
						<!--/.single-package-item-->

					</div>
					<!--/.col-->

				</div>
				<!--/.row-->
			</div>
			<!--/.packages-content-->
		</div>
		<!--/.container-->

	</section>
	<!--/.packages-->
	<!--packages end-->

	<!-- testemonial Start -->
	<section class="testemonial">
		<div class="container">

			<div class="gallary-header text-center">
				<h2>
					Clients reviews
				</h2>
				<div class="line-space">

				</div>
				<p>
					Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.
				</p>

			</div>
			<!--/.gallery-header-->

			<div class="owl-carousel owl-theme" id="testemonial-carousel">

				<div class="home1-testm item">
					<div class="home1-testm-single text-center">
						<div class="home1-testm-img">
							<img src="/images/client/testimonial1.jpg" alt="img" />
						</div>
						<!--/.home1-testm-img-->
						<div class="home1-testm-txt">
							<span class="icon section-icon">
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</span>
							<p>
								Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad
								minim veniam.
							</p>
							<h3>
								<a href="#">
									Teno
								</a>
							</h3>
							<h4>London</h4>
						</div>
						<!--/.home1-testm-txt-->
					</div>
					<!--/.home1-testm-single-->

				</div>
				<!--/.item-->

				<div class="home1-testm item">
					<div class="home1-testm-single text-center">
						<div class="home1-testm-img">
							<img src="/images/client/testimonial2.jpg" alt="img" />
						</div>
						<!--/.home1-testm-img-->
						<div class="home1-testm-txt">
							<span class="icon section-icon">
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</span>
							<p>
								Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad
								minim veniam.
							</p>
							<h3>
								<a href="#">
									Saurabh
								</a>
							</h3>
							<h4>France</h4>
						</div>
						<!--/.home1-testm-txt-->
					</div>
					<!--/.home1-testm-single-->

				</div>
				<!--/.item-->

				<div class="home1-testm item">
					<div class="home1-testm-single text-center">
						<div class="home1-testm-img">
							<img src="/images/client/testimonial1.jpg" alt="img" />
						</div>
						<!--/.home1-testm-img-->
						<div class="home1-testm-txt">
							<span class="icon section-icon">
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</span>
							<p>
								Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad
								minim veniam.
							</p>
							<h3>
								<a href="#">
									Bevan Sequeira
								</a>
							</h3>
							<h4>Madrid</h4>
						</div>
						<!--/.home1-testm-txt-->
					</div>
					<!--/.home1-testm-single-->

				</div>
				<!--/.item-->

				<div class="home1-testm item">
					<div class="home1-testm-single text-center">
						<div class="home1-testm-img">
							<img src="/images/client/testimonial1.jpg" alt="img" />
						</div>
						<!--/.home1-testm-img-->
						<div class="home1-testm-txt">
							<span class="icon section-icon">
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</span>
							<p>
								Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad
								minim veniam.
							</p>
							<h3>
								<a href="#">
									Flynn
								</a>
							</h3>
							<h4> New-Zealand</h4>
						</div>
						<!--/.home1-testm-txt-->
					</div>
					<!--/.home1-testm-single-->

				</div>
				<!--/.item-->

				<div class="home1-testm item">
					<div class="home1-testm-single text-center">
						<div class="home1-testm-img">
							<img src="/images/client/testimonial2.jpg" alt="img" />
						</div>
						<!--/.home1-testm-img-->
						<div class="home1-testm-txt">
							<span class="icon section-icon">
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</span>
							<p>
								Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad
								minim veniam.
							</p>
							<h3>
								<a href="#">
									Anish
								</a>
							</h3>
							<h4>Australia</h4>
						</div>
						<!--/.home1-testm-txt-->
					</div>
					<!--/.home1-testm-single-->

				</div>
				<!--/.item-->

				<div class="home1-testm item">
					<div class="home1-testm-single text-center">
						<div class="home1-testm-img">
							<img src="/images/client/testimonial1.jpg" alt="img" />
						</div>
						<!--/.home1-testm-img-->
						<div class="home1-testm-txt">
							<span class="icon section-icon">
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</span>
							<p>
								Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad
								minim veniam.
							</p>
							<h3>
								<a href="#">
									Neil
								</a>
							</h3>
							<h4>Indonesia</h4>
						</div>
						<!--/.home1-testm-txt-->
					</div>
					<!--/.home1-testm-single-->

				</div>
				<!--/.item-->

				<div class="home1-testm item">
					<div class="home1-testm-single text-center">
						<div class="home1-testm-img">
							<img src="/images/client/testimonial1.jpg" alt="img" />
						</div>
						<!--/.home1-testm-img-->
						<div class="home1-testm-txt">
							<span class="icon section-icon">
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</span>
							<p>
								Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad
								minim veniam.
							</p>
							<h3>
								<a href="#">
									Abhishek
								</a>
							</h3>
							<h4>Bali</h4>
						</div>
						<!--/.home1-testm-txt-->
					</div>
					<!--/.home1-testm-single-->

				</div>
				<!--/.item-->

				<div class="home1-testm item">
					<div class="home1-testm-single text-center">
						<div class="home1-testm-img">
							<img src="/images/client/testimonial2.jpg" alt="img" />
						</div>
						<!--/.home1-testm-img-->
						<div class="home1-testm-txt">
							<span class="icon section-icon">
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</span>
							<p>
								Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad
								minim veniam.
							</p>
							<h3>
								<a href="#">
									Glenn
								</a>
							</h3>
							<h4>Vegas</h4>
						</div>
						<!--/.home1-testm-txt-->
					</div>
					<!--/.home1-testm-single-->

				</div>
				<!--/.item-->

				<div class="home1-testm item">
					<div class="home1-testm-single text-center">
						<div class="home1-testm-img">
							<img src="/images/client/testimonial1.jpg" alt="img" />
						</div>
						<!--/.home1-testm-img-->
						<div class="home1-testm-txt">
							<span class="icon section-icon">
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</span>
							<p>
								Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad
								minim veniam.
							</p>
							<h3>
								<a href="#">
									Chinmay
								</a>
							</h3>
							<h4>Venice</h4>
						</div>
						<!--/.home1-testm-txt-->
					</div>
					<!--/.home1-testm-single-->

				</div>
				<!--/.item-->

			</div>
			<!--/.testemonial-carousel-->
		</div>
		<!--/.container-->

	</section>
	<!--/.testimonial-->
	<!-- testemonial End -->


	<!--special-offer start-->
	<section id="spo" class="special-offer">
		<div class="container">
			<div class="special-offer-content">
				<div class="row">
					<div class="col-sm-8">
						<div class="single-special-offer">
							<div class="single-special-offer-txt">
								<h2>THAILAND</h2>
								<div class="packages-review special-offer-review">
									<p>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<span>5544 review</span>
									</p>
								</div>
								<!--/.packages-review-->
								<div class="packages-para special-offer-para">
									<p>
										<span>
											<i class="fa fa-angle-right"></i> 7 days 6 nights
										</span>
										<span>
											<i class="fa fa-angle-right"></i> 4 person
										</span>
										<span>
											<i class="fa fa-angle-right"></i> 5 star accomodation
										</span>
									</p>
									<p>
										<span>
											<i class="fa fa-angle-right"></i> Transportation
										</span>
										<span>
											<i class="fa fa-angle-right"></i> Food Facilities
										</span>
									</p>
									<p class="offer-para">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem ut labore et dolore magna
										aliqua. Ut enim ad minim veniam, quis nostrud exercitation una <br> ullamco laboris nisi ut aliquip ex ea
										commodo consequat.
									</p>
								</div>
								<!--/.packages-para-->
								<div class="offer-btn-group">
									<div class="about-btn">
										<button class="about-view packages-btn offfer-btn">
											Make tour
										</button>
									</div>
									<!--/.about-btn-->
									<div class="about-btn">
										<button class="about-view packages-btn">
											Book now
										</button>
									</div>
									<!--/.about-btn-->
								</div>
								<!--/.offer-btn-group-->
							</div>
							<!--/.single-special-offer-txt-->
						</div>
						<!--/.single-special-offer-->
					</div>
					<!--/.col-->
					<div class="col-sm-4">
						<div class="single-special-offer">
							<div class="single-special-offer-bg">
								<img src="/images/offer/offer-shape.png" alt="offer-shape">
							</div>
							<!--/.single-special-offer-bg-->
							<div class="single-special-shape-txt">
								<h3>Special offer</h3>
								<h4><span>40%</span><br>off</h4>
								<p><span>49,999</span><br>regular 89,999 </p>
							</div>
							<!--/.single-special-shape-txt-->
						</div>
						<!--/.single-special-offer-->
					</div>
					<!--/.col-->
				</div>
				<!--/.row-->
			</div>
			<!--/.special-offer-content-->
		</div>
		<!--/.container-->

	</section>
	<!--/.special-offer end-->
	<!--special-offer end-->

	<!--blog start-->
	<section id="blog" class="blog">
		<div class="container">
			<div class="blog-details">
				<div class="gallary-header text-center">
					<h2>
						Latest news
					</h2>
					<div class="line-space">

					</div>
					<p>
						Travel News from all over the world
					</p>
				</div>
				<!--/.gallery-header-->
				<div class="blog-content">
					<div class="row">

						<div class="col-sm-4 col-md-4">
							<div class="thumbnail">
								<h2>Trending news <span>15 november 2017</span></h2>

								<div class="thumbnail-img">
									<img src="/images/blog/b1.jpg" alt="blog-img">
									<div class="thumbnail-img-overlay"></div>
									<!--/.thumbnail-img-overlay-->

								</div>
								<!--/.thumbnail-img-->

								<div class="caption">
									<div class="blog-txt">
										<h3>
											<a href="#">
												Discover on beautiful weather, Fantastic foods and historical place in Prag
											</a>
										</h3>
										<p>
											Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad
											minim veniam
										</p>
										<a href="#">Read More</a>
									</div>
									<!--/.blog-txt-->
								</div>
								<!--/.caption-->
							</div>
							<!--/.thumbnail-->

						</div>
						<!--/.col-->

						<div class="col-sm-4 col-md-4">
							<div class="thumbnail">
								<h2>Trending news <span>15 november 2017</span></h2>
								<div class="thumbnail-img">
									<img src="/images/blog/b2.jpg" alt="blog-img">
									<div class="thumbnail-img-overlay"></div>
									<!--/.thumbnail-img-overlay-->

								</div>
								<!--/.thumbnail-img-->
								<div class="caption">
									<div class="blog-txt">
										<h3>
											<a href="#">
												Discover on beautiful weather, Fantastic foods and historical place in india
											</a>
										</h3>
										<p>
											Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad
											minim veniam
										</p>
										<a href="#">Read More</a>
									</div>
									<!--/.blog-txt-->
								</div>
								<!--/.caption-->
							</div>
							<!--/.thumbnail-->

						</div>
						<!--/.col-->

						<div class="col-sm-4 col-md-4">
							<div class="thumbnail">
								<h2>Trending news <span>15 november 2017</span></h2>
								<div class="thumbnail-img">
									<img src="/images/blog/b3.jpg" alt="blog-img">
									<div class="thumbnail-img-overlay"></div>
									<!--/.thumbnail-img-overlay-->

								</div>
								<!--/.thumbnail-img-->
								<div class="caption">
									<div class="blog-txt">
										<h3><a href="#">10 Most Natural place to Discover</a></h3>
										<p>
											Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad
											minim veniam
										</p>
										<a href="#">Read More</a>
									</div>
									<!--/.blog-txt-->
								</div>
								<!--/.caption-->
							</div>
							<!--/.thumbnail-->

						</div>
						<!--/.col-->

					</div>
					<!--/.row-->
				</div>
				<!--/.blog-content-->
			</div>
			<!--/.blog-details-->
		</div>
		<!--/.container-->

	</section>
	<!--/.blog-->
	<!--blog end-->


	<!--subscribe start-->
	<section id="subs" class="subscribe">
		<div class="container">
			<div class="subscribe-title text-center">
				<h2>
					Join our Subscribers List to Get Regular Update
				</h2>
				<p>
					Subscribe Now. We will send you Best offer for your Trip
				</p>
			</div>
			<form>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
						<div class="custom-input-group">
							<input type="email" class="form-control" placeholder="Enter your Email Here">
							<button class="appsLand-btn subscribe-btn">Subscribe</button>
							<div class="clearfix"></div>
							<i class="fa fa-envelope"></i>
						</div>

					</div>
				</div>
			</form>
		</div>

	</section>
	<!--subscribe end-->

	<!-- footer-copyright start -->
	<footer class="footer-copyright">
		<div class="container">
			<div class="footer-content">
				<div class="row">

					<div class="col-sm-3">
						<div class="single-footer-item">
							<div class="footer-logo">
								<a href="index">
									BTS<span>Holidays</span>
								</a>
								<p>
									Best travel agency with pocket friendly Budget
								</p>
							</div>
						</div>
						<!--/.single-footer-item-->
					</div>
					<!--/.col-->

					<div class="col-sm-3">
						<div class="single-footer-item">
							<h2>Link</h2>
							<div class="single-footer-txt">
								<p><a href="#">Home</a></p>
								<p><a href="#">Destination</a></p>
								<p><a href="#">Spacial packages</a></p>
								<p><a href="#">Special offers</a></p>
								<p><a href="#">Blog</a></p>
								<p><a href="#">Contacts</a></p>
							</div>
							<!--/.single-footer-txt-->
						</div>
						<!--/.single-footer-item-->

					</div>
					<!--/.col-->

					<div class="col-sm-3">
						<div class="single-footer-item">
							<h2>Popular Destination</h2>
							<div class="single-footer-txt">
								<p><a href="#">China</a></p>
								<p><a href="#">Prague</a></p>
								<p><a href="#">Dubai</a></p>
								<p><a href="#">Brazil</a></p>
								<p><a href="#">Australia</a></p>
								<p><a href="#">London</a></p>
							</div>
							<!--/.single-footer-txt-->
						</div>
						<!--/.single-footer-item-->
					</div>
					<!--/.col-->

					<div class="col-sm-3">
						<div class="single-footer-item text-center">
							<h2 class="text-left">Contacts</h2>
							<div class="single-footer-txt text-left">
								<p>7021169359</p>
								<p class="foot-email"><a href="#">nadarteno3@gmail.com</a></p>
								<p>302 Orlem Grace</p>
								<p>Malad, Mumbai-64</p>
								<p>India</p>
							</div>
							<!--/.single-footer-txt-->
						</div>
						<!--/.single-footer-item-->
					</div>
					<!--/.col-->

				</div>
				<!--/.row-->

			</div>
			<!--/.footer-content-->
			<hr>
			<div class="foot-icons ">
				<ul class="footer-social-links list-inline list-unstyled">
					<li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
				</ul>
				<p>&copy; 2018<a href="#">Designed by Teno,Saurabh&Bevan</a>. All Right Reserved</p>

			</div>
			<!--/.foot-icons-->
			<div id="scroll-Top">
				<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title=""
				 data-original-title="Back to Top" aria-hidden="true"></i>
			</div>
			<!--/.scroll-Top-->
		</div><!-- /.container-->

	</footer><!-- /.footer-copyright-->
	<!-- footer-copyright end -->




	<script src="/js/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->

	<!--modernizr.min.js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>


	<!--bootstrap.min.js-->
	<script src="/js/bootstrap.min.js"></script>

	<!-- bootsnav js -->
	<script src="/js/bootsnav.js"></script>

	<!-- jquery.filterizr.min.js -->
	<script src="/js/jquery.filterizr.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

	<!--jquery-ui.min.js-->
	<script src="/js/jquery-ui.min.js"></script>

	<!-- counter js -->
	<script src="/js/jquery.counterup.min.js"></script>
	<script src="/js/waypoints.min.js"></script>

	<!--owl.carousel.js-->
	<script src="/js/owl.carousel.min.js"></script>

	<!-- jquery.sticky.js -->
	<script src="/js/jquery.sticky.js"></script>

	<!--datepicker.js-->
	<script src="/js/datepicker.js"></script>

	<!--Custom JS-->
	<script src="/js/custom.js"></script>


</body>

</html>